/*==================================
  Top
==================================*/
#Top main {
  .sect_1{
    .wrapper{
      margin-top: 55px;
      padding-top: 30px;
      padding-bottom: 120px;
      h3{
        text-align: center;
        @include Lato(900);
        font-size: 54px;
        color: #f1170d;
        line-height: 64px;
        margin-bottom: 50px;
        span{
          @include Lato(900);
          font-size: 54px;
          color: #f1170d;
        }
      }
      .img_cont{
        position: relative;
        &::after{
          content: "";
          display: block;
          width: 78.57vw;
          margin-left: auto;
          height: 400px;
          box-sizing: border-box;
          border-radius: 40px 0 0 0;
          background-image: url(../images/top/section_1/img_1.png);
          background-size: cover;
          background-position: center center;
        }
        .txt_cont{
          
          max-width: 1300px;
          margin-left: auto;
          margin-right: auto;
          padding-right: 50px;
          padding-left: 50px;
          position: absolute;
          bottom: -40px;
          left: 0;
          right: 0;
          p{
            background-color: #fff;
            width: 735px;
            @include Lato(300);
            font-size: 18px;
            line-height: 27px;
            padding: 60px 100px 70px 0;
            border-radius: 0 40px 40px 0;
          }
        }
      }
    }
  }

  .sect_2{
    .wrapper{
      .container{
        max-width: 1200px;
        padding-right: 70px;
        padding-left: 70px;
        h3{
          @include Lato(900);
          font-size: 36px;
          text-align: center;
          color: #f1170d;
          
          &::after{
            content: "";
            display: block;
            width: 70px;
            height: 3px;
            background-color: #f1170d;
            margin: 25px auto 45px;
          }
        }
        .row{
          justify-content: space-between;
          .col{
            &:first-child{
              width: 68%;
              p{
                @include Lato(300);
                font-size: 18px;
                line-height: 27px;
                text-align: left;
                color: #000;
                margin-bottom: 35px;
              }
            }
            &:last-child{
              width: 30%;
            }
          }
        }
        p{
          @include Lato(300);
          font-size: 18px;
          line-height: 27px;
          text-align: left;
          color: #000;
          margin-bottom: 35px;
        }
        .sp_img{
          margin-bottom: 150px;
          img{
            display: none;
          }
        }
      }
    }
  }

  .sect_3{
    .wrapper{
      .container{
        max-width: 1200px;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 210px;
        .item{
          margin-bottom: 40px;
          &:not(:first-child){
            p{
              text-align: center
            }
          }
          &.itm_left{
            p{
              text-align: left;
              padding-left: 190px;
              padding-right: 190px;

              &:nth-of-type(2){
                @include Lato(900);
                margin-top: 50px;
              }
            }
          }
          h4{
            @include Lato(900);
            font-size: 28px;
            color: #f1170d;
            text-align: center;
            background-color: #fff0ef;
            padding: 15px 0;
            border-radius: 5px;
            margin-bottom: 30px;
          }
          p{
            padding-right: 100px;
            padding-left: 100px;
            @include Lato(300);
            font-size: 18px;
            line-height: 27px;
            color: #000;
            text-align: left;
          }
        }
        .table_cont{
          padding-left: 70px;
          padding-right: 70px;
          table{
            width: 100%;
            border-collapse: separate;
            border-spacing: 2px;
            tr{
              &:nth-of-type(5){
                td{
                  &:not(:last-child){
                    border-bottom: none;
                  }
                }
              }
              &:nth-of-type(6){
                td{
                  border-bottom: none;
                }
              }
              th, td{
                border-bottom: 1px solid #ffdedc;
                &:nth-of-type(1){
                  width: 15%;
                }
                &:nth-of-type(2){
                  width: 25%;
                }
                &:nth-of-type(3){
                  width: 60%;
                }
              }
              th{
                background-color: #f1170d;
                border-radius: 5px;
                color: #fff;
                text-align: center;
                @include Lato(400);
                font-size: 18px;
                padding: 10px 0;
              }
              td{
                color: #000;
                text-align: center;
                @include Lato(400);
                font-size: 18px;
                padding: 20px 0 15px;

                &:nth-of-type(3){
                  text-align: left;
                  padding-left: 30px;
                }
              }
            }
          }
          .table_sp{
            display: none;
          }
          p{
            text-align: left;
            @include Lato(300);
            font-size: 18px;
            color: #000;
            margin-top: 30px;
            margin-bottom: 35px;
          }
        }
        .btn_rules{
          display: block;
          width: 680px;
          background-color: #f1170d;
          color: #fff;
          text-align: center;
          margin: 0 auto;
          padding: 30px 0 25px 0;
          @include Lato(600);
          font-size: 28px;
          border-radius: 50px;
          margin-bottom: 30px;

          img{
            margin-right: 10px;
          }
        }
        .btn_inquiry{
          display: block;
          width: 300px;
          background-color: #f1170d;
          color: #fff;
          text-align: center;
          margin: 0 auto;
          padding: 20px 0 18px 0;
          @include Lato(600);
          font-size: 24px;
          border-radius: 50px;
          margin-bottom: 30px;

          img{
            margin-right: 10px;
          }
        }
      }
    }
  }
}
