/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.pc {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  &:visited {
    color: $font-color;
  }
  &:active {
    color: $font-color;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid;
  .header_inner{
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
      .logo{
        a{
          img{
            width: 180px;
          }
        }
      }
    }
    .middle{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      ul{
        display: flex;
        justify-content: flex-end;
        li{
          margin-left: 18px;
          @include is-max(380px){
            margin-left: 10px;
          }
          &:nth-child(1){
            a{
              img{
                width: 18.5px;
              }
            }
          }
          &:nth-child(2){
            a{
              img{
                width: 18.5px;
              }
            }
          }
          &:nth-child(3){
            a{
              img{
                width: 22.5px;
              }
            }
          }
         
        }
      }
      .menu {
        transition: .5s ease;
        position: relative;
        z-index: 102;
        // background: #000;
        width: 32px;
        height: 100%;
        margin-left: 18px;
        &.active{
          transform: translateX(-70.5vw);
          background-color: #fff;
          margin-left: 0;
          width: 43px;
          border-radius: 5px;
          p{
            padding: 42px 0 0;
          }
        }
        span {
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          display: inline-block;
          background: #fa372e;
          width: 32px;
          height: 3px;
          margin: auto;
          transition: 0.3s;
          border-radius: 50px;
          &.line-t.show {
            top: 20px;
            transform: rotate(-32deg);
          }
          &.line-m {
            top: 19px;
            &.show {
              opacity: 0;
            }
          }
          &.line-b {
            top: 28px;
            &.show {
              top: 21px;
              transform: rotate(32deg);
            }
          }
        }
        p {
          color: #fff;
          padding: 35px 0 0;
          font-size: 10px;
          text-align: center;
        }
      }
      .overlay{
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.8);
        visibility: hidden;
        opacity: 0;
        transition: .5s ease;
        &.active{
          visibility: visible;
          opacity: 1;
          transition: .5s ease;
        }
      }
    }
    .right{
      visibility: hidden;
      position: fixed;
      z-index: 100;
      width: 72vw;
      transform: translateX(78vw);
      top: 0;
      right: 0;
      background: #fff;
      overflow: auto;
      text-align: center;
      -webkit-overflow-scrolling: touch;
      &.active{
        visibility: visible;
        transform: translateX(0vw);
        transition: .5s ease;
      }
      ul{
        list-style: none;
        display: inline-block;
        width: 100%;
        padding-left: 43px;
        padding-right: 43px;
        padding-top: 100px;
        padding-bottom: 80px;
        box-sizing: border-box;
        @include is-max(350px){
          padding-left: 20px;
          padding-right: 20px;
        }
        li{
          position: relative;
          text-align: center;
          &:not(:last-child){
            margin-bottom: 45px;
          }
          &:last-child{
            margin-top: 110px;
            padding: 15px 40px;
            background-color: #fa372e;
            border-radius: 50px;
            transition: .5s ease;
            &:hover{
              background-color: #000;
            }
            a{
              color: #fff;
            }
          }
          a{
            @include Lato(600);
            font-size: 20px;
            color: #000;
          }
        }
      }
    }
  }
}

/* footer
==================================*/
footer {
  background: #000;
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    width: 50px;
  }
}
