/*==================================
  Top
==================================*/
#Top main {
  .sect_1{
    .wrapper{
      margin-top: 55px;
      padding-top: 30px;
      padding-bottom: 120px;
      h3{
        text-align: center;
        @include Lato(900);
        font-size: 35px;
        color: #f1170d;
        line-height: 40px;
        margin-bottom: 40px;
        padding-right: 15px;
        padding-left: 15px;
        span{
          @include Lato(900);
          font-size: 30px;
          color: #f1170d;
        }
      }
      .img_cont{
        position: relative;
        padding-left: 25px;
        &::after{
          content: "";
          display: block;
          width: 100%;
          height: 30vh;
          box-sizing: border-box;
          border-radius: 40px 0 0 0;
          background-image: url(../images/top/section_1/img_1.png);
          background-size: cover;
          background-position: center center;
        }
        .txt_cont{
          margin-left: auto;
          margin-right: auto;
          padding-right: 25px;
          padding-left: 25px;
          position: absolute;
          bottom: -65px;
          left: 0;
          right: 0;
          p{
            background-color: #fff;
            width: 90%;
            @include Lato(300);
            font-size: 16px;
            line-height: 24px;
            padding: 30px 45px 30px 0;
            border-radius: 0 20px 20px 0;
          }
        }
      }
    }
  }

  .sect_2{
    .wrapper{
      .container{
        max-width: 1200px;
        padding-right: 25px;
        padding-left: 25px;
        h3{
          @include Lato(900);
          font-size: 24px;
          text-align: center;
          color: #f1170d;
          
          &::after{
            content: "";
            display: block;
            width: 66px;
            height: 3px;
            background-color: #f1170d;
            margin: 15px auto 25px;
          }
        }
        .row{
          justify-content: space-between;
          .col{
            &:first-child{
              width: 100%;
              p{
                @include Lato(300);
                font-size: 16px;
                line-height: 24px;
                text-align: left; 
                color: #000;
                margin-bottom: 30px;
              }
            }
            &:last-child{
              display: none;
              width: 30%;
            }
          }
        }
        p{
          @include Lato(300);
          font-size: 16px;
          line-height: 24px;
          text-align: left;
          color: #000;
          margin-bottom: 30px;
        }
        .sp_img{
          text-align: center;
          margin-bottom: 40px;
          img{
            width: 80%;
          }
        }
      }
    }
  }

  .sect_3{
    .wrapper{
      .container{
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 100px;
        .item{
          margin-bottom: 20px;
          &.itm_left{
            p{
              text-align: left;
              &:nth-of-type(2){
                @include Lato(900);
                margin-top: 30px;
              }
            }
          }
          h4{
            @include Lato(900);
            font-size: 18px;
            color: #f1170d;
            text-align: center;
            background-color: #fff0ef;
            padding: 10px 0;
            border-radius: 5px;
            margin-bottom: 15px;
          }
          p{
            @include Lato(300);
            font-size: 16px;
            line-height: 27px;
            color: #000;
            text-align: left;
          }
        }
        .table_cont{
          table{
            display: none;
          }
          .table_sp{
            .wrap{
              padding-bottom: 20px;
              &:not(:first-child){
                margin-top: 20px;
              }
              &:not(:last-child){
                border-bottom: 1px solid #ffdedc;
              }
              .row{
                align-items: flex-start;
                margin-bottom: 5px;
                &:first-child{
                  p{
                    padding-left: 20px;
                  }
                }
                span{
                  width: 100px;
                  background-color: #f1170d;
                  @include Lato(400);
                  font-size: 16px;
                  color: #fff;
                  text-align: center;
                  padding: 10px 0;
                  border-radius: 5px;
                }
                p{
                  width: calc(100% - 100px);
                  margin: 0;
                  padding: 5px 0 0 15px;
                  @include Lato(300);
                  font-size: 16px;
                  color: #000;
                  text-align: left;
                }
              }
            }
          }
          p{
            text-align: left;
            @include Lato(300);
            font-size: 16px;
            color: #000;
            margin-top: 15px;
            margin-bottom: 35px;
          }
        }
        .btn_rules{
          display: block;
          width: 95%;
          background-color: #f1170d;
          color: #fff;
          text-align: center;
          margin: 0 auto;
          padding: 20px 0 20px 0;
          @include Lato(600);
          font-size: 18px;
          border-radius: 50px;
          margin-bottom: 30px;
          margin-top: 45px;
          img{
            margin-right: 10px;
            width: 12px;
          }
        }
        .btn_inquiry{
          display: block;
          width: 300px;
          background-color: #f1170d;
          color: #fff;
          text-align: center;
          margin: 0 auto;
          padding: 20px 0 18px 0;
          @include Lato(600);
          font-size: 18px;
          border-radius: 50px;
          margin-bottom: 30px;
          @include is-max(400px){
            width: 90%;
          }
          img{
            margin-right: 10p x;
            width: 17px;
          }
        }
      }
    }
  }
}
